@model IEnumerable<PickemApp.Models.WeeklyPlayerPicks>

@{
    ViewBag.Title = "Weekly Winners";
}

<h2>@ViewBag.Year Season</h2>

<table class="standings">
@foreach (var week in Model)
{
    <tr>
        <th scope="row">@Html.ActionLink((string)string.Format("Week {0}", week.WeekNumber), "Index", "Week", new { week = @week.WeekNumber, year = @week.Year }, null)</th>
        <td>@week.Player.Name</td>
    </tr>
}
</table>