@model PickemApp.ViewModels.AccountResetPassword
@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

@if (!string.IsNullOrEmpty(Request["message"]))
{ 
    @GlobalHelpers.DisplayMessage((PickemApp.Controllers.AccountController.ManageMessageId)Enum.Parse(typeof(PickemApp.Controllers.AccountController.ManageMessageId), Request["message"]), "success")
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

    <div class="form-group">
        @Html.LabelFor(f => f.Token)
        @Html.EditorFor(f => f.Token, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(f => f.Token) } })
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.NewPassword)
        @Html.EditorFor(f => f.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(f => f.NewPassword) } })
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.ConfirmPassword)
        @Html.EditorFor(f => f.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(f => f.ConfirmPassword) } })
    </div>
    
    <p>
        <button type="submit" class="btn btn-primary">Reset</button>
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
